html,
body {
  margin: 0;
  padding-top: 5.063rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.barra-navegacion,
.barra-navegacion * {
  font-weight: 400 !important;
}

:root {
  --barra: #e9c983; /* fondo beige */
  --texto: #1b1b1b;
  --primario: #0e2f4f; /* azul oscuro */
  --blanco: #ffffff;
  --borde: #0e2f4f;
  --sombra: 0 10px 24px rgba(0, 0, 0, 0.08);
}

.contenedor {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 20px;
}

.barra-navegacion {
  background: var(--barra);
  position: fixed;
  height: 5.063rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.barra-navegacion__contenido {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  gap: 24px;
}

/* LOGO + NOMBRE */
.marca {
  display: flex;
  align-items: center;
  gap: 10px;
}

.marca__logo-incompleto {
  height: 48px;
  width: auto;
  object-fit: contain;
}

.marca__nombre {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: var(--texto);
}

.menu {
  display: flex;
  gap: 20px;
  margin-left: 350px;
  margin-right: auto;
}

.menu__enlace {
  padding: 8px 6px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: background 0.2s ease;
}

.menu__enlace:hover {
  background: rgba(0, 0, 0, 0.06);
  color: BLACK;
}

.barra-navegacion .boton {
  display: inline-block !important;
  padding: 8px 30px !important;
  background: var(--primario) !important;
  color: var(--blanco) !important;
  border: 2px solid var(--borde) !important;
  border-radius: 999px !important;
  font-weight: 400 !important;
  text-decoration: none !important;
  min-width: 100px;
}

.boton--borde {
  border: 2px solid var(--borde);
  color: var(--blanco);
  background: var(--primario);
  text-decoration: none;
  min-width: 100px;
}

.boton--borde:hover {
  background: var(--primario);
  color: var(--blanco);
}

.boton--peque {
  padding: 6px 28px;
  font-size: 0.9rem;
}
.boton--primario {
  background: var(--primario);
  color: var(--blanco);
  border: none;
  text-decoration: none;
}

/*SECCION EMPIEZA AHORA*/

.seccion-empieza {
  padding: calc(93.5px + 81px) 83px 93.5px 83px;
  background-color: white;
}
.div-gral-empieza {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 280px;
}

.div-empieza-img {
  flex: 1;
}
.div-empieza-img img {
  width: 399px;
  height: 289px;
  max-width: 400px;
}

.div-empieza-text {
  flex: 1;
  text-align: center;
}
.div-empieza-text p {
  font-size: 24px;
}
.div-empieza-text button {
  background-color: #0c2734;
  border: none;
  border-radius: 99999px;
  padding: 6px 50px;
  cursor: pointer;
}

.div-empieza-text button a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: lighter;
}
.div-empieza-text button a:hover {
  text-decoration: none;
}

/*SECCION MOTIVADORA*/

.seccion-motivadora {
  padding: 97px 83px;
  background-color: #f9f9f9;
}
.div-gral-motivadora {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 280px;
}

.div-motivadora-img {
  flex: 1;
}
.div-motivadora-img img {
  width: 487px;
  height: 273px;
}

.div-motivadora-text {
  flex: 1;
}
.div-motivadora-text h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 52px;
}
.div-motivadora-text p {
  font-size: 16px;
}

/*SECCION COMENTARIOS*/

.seccion-comentarios {
  padding: 80px 24px;
  background: #fff;
}
.seccion-comentarios h2 {
  text-align: center;
  margin: 0px 0px 80px 0px;
  font-weight: 500;
  font-size: 24px;
}
.div-gral-comentarios {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 106px;
}

.testimonial {
  position: relative;
  display: flex;
  justify-content: center;
}
.card {
  width: 100%;
  background: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 18px;
  padding: 80px 22px 22px;
  text-align: center;
}

.avatar {
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  width: 88px;
  height: 88px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}

.card h3 {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 600;
}
.card p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
}
/* ===== Footer ===== */
.footer {
  background-color: #e9cc86;
  width: 100%;
  height: 81px;
}
.footer-cont {
  margin: 0 40px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.footer-left {
  display: inline-flex;
  align-items: left;
  gap: 10px;
  color: black;
  font-weight: 500;
}
.footer-left i {
  font-size: 18px;
}

.footer-link {
  color: inherit;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
}

.footer-right {
  display: inline-flex;
  align-items: center;
  gap: 27px;
}
.footer-right .social {
  color: black;
  text-decoration: none;
  font-size: 20px;
  line-height: 1;
}
/*RESPONSIVE*/
@media (max-width: 1024px) {
  .menu {
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: none;
  }
  .barra-navegacion .boton {
    margin-right: 30px;
    text-align: center;
    display: inline-block !important;
    padding: 8px !important;
    min-width: 40px;
  }

  .boton--borde {
    border: 2px solid var(--borde);
    color: var(--blanco);
    background: var(--primario);
    text-decoration: none;
    min-width: 40px;
  }
  .barra-navegacion__contenido {
    justify-content: space-between !important;
  }
}

@media (max-width: 480px) {
  .marca__nombre {
    font-size: 25px;
  }
  .marca__logo-incompleto {
    height: 36px;
  }
}

/*RESPONSIVE: SECCION EMPIEZA AHORA*/

@media (max-width: 992px) {
  .div-gral-empieza {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .div-empieza-img img {
    width: 80%;
    height: auto;
    max-width: 350px;
  }
}

@media (max-width: 600px) {
  .seccion-empieza {
    padding: 40px 20px;
  }

  .div-empieza-text p {
    font-size: 20px;
  }

  .div-empieza-text button {
    padding: 8px 40px;
  }
}

/* RESPONSIVE: SECCION MOTIVADORA*/

@media (max-width: 992px) {
  .div-gral-motivadora {
    flex-direction: column-reverse;
    text-align: center;
    gap: 40px;
  }

  .div-motivadora-img img {
    width: 80%;
    height: auto;
    max-width: 450px;
  }
}

@media (max-width: 600px) {
  .seccion-motivadora {
    padding: 40px 20px;
  }

  .div-motivadora-text h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .div-motivadora-text p {
    font-size: 15px;
  }
}

/* RESPONSIVE: FOOTER*/

@media (max-width: 768px) {
  .footer {
    height: auto;
    padding: 20px 0;
  }

  .footer-cont {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  .footer-right {
    gap: 18px;
  }
}

@media (max-width: 480px) {
  .footer-right .social {
    font-size: 18px;
  }

  .footer-left span {
    font-size: 14px;
  }
}

/* BOTÓN HAMBURGUESA */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--texto);
}

/* MENÚ HAMBURGUESA */
@media (max-width: 1024px) {
  .menu-toggle {
    display: block;
    order: 0;
    margin-right: 10px;
  }

  .marca {
    order: 1;
  }

  .menu {
    order: 2;
    margin: 0 !important;
    padding: 0;
    width: 100%;
    display: none;
    flex-direction: column;

    position: absolute;
    top: 5.063rem;
    left: 0; /* menú desde la izquierda (lo que querías) */
    background: #e9c983;
    z-index: 9999;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .menu.active {
    display: flex;
  }
  .menu__enlace {
    all: unset;
    display: flex;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0 22px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: black;
    border-bottom: 1px solid #0e2f4f;
    box-sizing: border-box;
  }

  .menu__enlace:last-child {
    border-bottom: none;
  }

  /* Botón "Iniciar sesión" a la derecha */
  .barra-navegacion .boton {
    order: 3;
    margin-left: auto;
  }
}

html,
body {
  overflow-x: hidden;
}
