.tutorial-wrapper {
  display: flex;
  min-height: calc(100vh - 180px);
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
}

/* CONTENIDO */
.tutorial-container {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  width: 90%;
}

/* LOGO M */
.logo {
  width: 300px;
  height: auto;
  object-fit: contain;
  margin-bottom: 25px;
}

/* TEXTO */
.text {
  font-size: 18px;
  color: #000;
  line-height: 1.6;
  margin-bottom: 40px;
}

/* BOTONES */
.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.btn {
  border: none;
  padding: 12px 45px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease;
}

/* COLORES */
.omit {
  background: #08233f;
  color: white;
}

.start {
  background: #f5c300;
  color: black;
}

/* EFECTO */
.btn:hover {
  transform: translateY(-2px);
}

@media (max-width: 480px) {
  .logo {
    width: 250px;
  }

  .text {
    font-size: 15px;
  }

  .btn {
    width: 100%;
  }
}
