.detalle-recompensa-container {
  width: 100%;
  max-width: 1000px;
  margin-left: 100px;
  padding: 40px 30px;
}

.btn-volver {
  font-size: 22px;
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
  display: inline-block;
}

.detalle-contenido {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 60px;
  margin-top: 20px;
}

.detalle-card {
  background-color: #0c2734;
  color: white;
  padding: 40px;
  border-radius: 20px;
  width: 60%;
  min-height: 370px;
  height: 420px;
  box-shadow: 0px 3px 10px #00000020;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

.detalle-card h2 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
}

.detalle-card p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.barra-puntos {
  margin-top: 30px;
  margin-bottom: 20px;
  border-bottom: 5px solid #f0c000;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.btn-principal {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #f0c000;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 15px;
  box-shadow: 0px 3px 6px #00000030;
}

.btn-secundario {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #ffffff;
  color: #062b48;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0px 3px 6px #00000030;
}

.codigo-box {
  width: 35%;
  min-height: 420px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.codigo-exito {
  color: #078d00;
  font-weight: 600;
  margin-bottom: 15px;
}

.codigo-marco {
  border: 7px solid #0c2734;
  border-radius: 20px;
  padding: 30px 10px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
  background: white;
  letter-spacing: 2px;
}
.detalle-card .botones {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
@media (max-width: 900px) {
  .detalle-recompensa-container {
    margin-left: 35px;
    padding: 20px;
    width: 70%;
  }

  .detalle-contenido {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .detalle-card,
  .codigo-box {
    width: 100%;
    min-height: 350px;
    height: auto;
  }

  .detalle-card .botones {
    flex-direction: column;
    width: 100%;
  }

  .btn-principal,
  .btn-secundario {
    width: 100%;
    text-align: center;
  }
}
