body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  padding: 80px;
  width: 80%;
  max-width: 1100px;
  text-align: center;
  padding-top: 90px;
}

.title {
  font-size: 26px;
  font-weight: 600;
  color: #0f1c28;
  text-align: left;
}

.subtitle {
  margin-top: 14px;
  color: #555;
  font-size: 14px;
}

.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
}

.card {
  width: 100%;
  max-width: 430px;
  height: 130px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card-yellow {
  background: #fff0b8;
}

.card-dark {
  background: #09223b;
}

.icon-placeholder {
  width: 42px;
  height: 42px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 20px;
  color: #0f1c28;
  font-weight: 500;
}

.card-text-light {
  color: #ffffff;
}

.buttons {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.btn {
  padding: 14px 30px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 500;
}

.btn-darkblue {
  background: #09223b;
  color: #ffffff;
}

.btn-yellow {
  background: #f2c300;
  color: #0f1c28;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 40px;
  }

  .title {
    margin-top: 80px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 60px 10px;
    width: 95%;
  }

  .card {
    height: auto;
    padding: 20px;
  }

  .card-text {
    font-size: 18px;
  }

  .buttons {
    gap: 15px;
  }

  .btn {
    width: 80%;
  }
}
